/* General */
html,
body {
  font-family: 'Poppins', sans-serif !important;
  color: #003366 !important;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
}

/* Typography */
.card-head {
  font-size: 1.5rem;
  font-weight: bold;
  color: #003366;
}

.about-heading {
  font-size: 2.5rem;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

p {
  font-size: 1.1rem;
  margin-top: 5px;
  color: #555;
}

/* Navbar link styles */
.navbar-nav .nav-link {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #003366;
}

/* Hero section */
.hero-section {
  padding: 100px 0;
  position: relative;
}

.hero-section h1 {
  font-size: 4rem;
  font-weight: bold;
}

/* Recuadros de parallax */
.parallax-image {
  position: 'relative';
}

.parallax-box {
  position: absolute;
  background-color: #f5f5f5;
  padding: 20px;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.box-1 {
  top: 20%;
  left: -3%;
}

.box-2 {
  top: 80%;
  right: -3%;
}

.box-content {
  border-radius: 20px;

  width: 250px;
  height: 100px;
}
.box-img1 {
  background: url('/images/coment1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.box-img2 {
  background: url('/images/coment.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Custom button */
.btn-custom {
  background-color: #00f5d4 !important;
  padding: 12px 30px;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-custom:hover {
  background-color: #00d4b1 !important;
  transform: scale(1.05) !important;
  box-shadow: 0px 4px 15px rgba(0, 245, 212, 0.6);
}

/* About section */
.about-section {
  padding: 100px 0;
  margin-top: 150px;
  position: relative;
  background-color: #f9f9f9;
}

/* Línea detrás del texto */
.line-container {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.animated-line {
  width: 100%;
  height: 100px;
}

.animated-line path {
  stroke-dasharray: 580;
  stroke-dashoffset: 600;
  animation: drawLine 5s ease forwards;
}

/*Animación */
@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}

/* Card styles */

.card {
  --bs-card-border-color: 'none' !important;
  border-radius: 10px;
  padding: 20px;
  font-size: 1.1rem;
}

.card-text {
  margin: 10px !important;
  padding: 10px;
}

.accordion-item {
  color: #555 !important;
  --bs-accordion-border-color: none !important;
  margin: 15px 0;
}

.accordion-button {
  font-size: 1.2rem !important;
  background-color: white !important;
  border: none;
  position: relative;
}

.accordion-button::after {
  content: '' !important;
  background: none !important;
}

.accordion-button::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 10px;
}

.accordion-button.collapsed::before {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><rect x="10" y="4" width="4" height="16" fill="orange"/><rect x="4" y="10" width="16" height="4" fill="orange"/></svg>');
}

.accordion-button:not(.collapsed)::before {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><rect x="4" y="14" width="16" height="4" fill="orange"/></svg>');
}

/* Contact Section */
.underline {
  display: inline-block;
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

/* Call to action */
.book-call {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  color: #003366;
  text-decoration: none;
  font-weight: bold;
}

.book-call:hover {
  text-decoration: underline;
}

.book-call .circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #003366;
  color: white;
  margin-left: 10px;
  box-shadow: 0px 4px 10px rgba(0, 51, 102, 0.2);
  transition: transform 0.2s ease;
}

.book-call:hover .circle {
  transform: scale(1.1);
}

.book-call .circle::before {
  content: '›';
}

/* Whatsapp */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  cursor: pointer;
}

.whatsapp-button img {
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(255, 254, 254, 0.2);
  transition: transform 0.3s;
}

.whatsapp-button img:hover {
  transform: scale(1.1);
}

/* Final Section  */
/* Para la primera banda rosada */
.marquee,
.marquee1 {
  width: 100%;
  height: 90px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
}

.marquee {
  background-color: #ffcc00;
  transform: rotate(3deg);
}

.marquee1 {
  background-color: #003366;
  transform: rotate(-2deg);
}

.marquee__content {
  display: flex;
  list-style: none;
  animation: scrolling 50s linear infinite;
}
.marquee__item {
  flex-shrink: 0;
  padding-right: 70px;
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.marquee__item {
  flex-shrink: 0;
}

/* Para la segunda banda naranja */

.marquee__content1 {
  display: flex;
  list-style: none;
  animation: scroll 50s linear infinite;
}

.marquee__item1 {
  flex-shrink: 0;
  padding-right: 50px;
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

@keyframes scrolling {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes scroll {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Media queries */
@media (max-width: 768px) {
  .box-1,
  .box-2 {
    display: none;
  }
}
